<!DOCTYPE html>
<html lang="ja">
    <head>
		<meta charset="utf-8">
		<meta name="keywords" content="">
		<meta name="author" content="">
		<title>何食べる？</title>

		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
		<script type="text/javascript" src="{{ url_for('static', filename='js/home.js') }}"></script>"

	</head>
	<body>
		<div class="container">
			<header>
				<div class="row">
					<div class="col-sm-8">
						<h1>何食べる？</h1>
					</div>
					<div class="col-sm-4">
						<p id="currentTime">時刻</p>
					</div>
				</div>
			</header>
			<form method="POST" action="basic_search">
				<h2>予算はいくら？</h2>
				<br>
				<table>
					<tr>
						<div>
							<input type="text" name="budget" placeholder="">
							<label>円まで</label>
						</div>
					</tr>
					<tr>
						<div>
							<input type="submit" value="submit">
						</div>
					</tr>
				</table>
			</form>
			<hr>
			<footer>
				<p>&copy; group7</p>
			</footer>
		</div>
	</body>
</html>