<!DOCTYPE html>
<html lang="ja">
    <head>
		<meta charset="utf-8">
		<meta name="keywords" content="">
		<meta name="author" content="">
		<title>何食べる？</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
		<script type="text/javascript" src="{{ url_for('static', filename='js/home.js') }}"></script>
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;700&display=swap" rel="stylesheet">
	</head>
	<body>
		<div class="container">
			<header>
				<div class="row">
					<div class="col-sm-4">

					</div>
					<div class="col-sm-4 headerTitle">
						<h1>何食べる？</h1>
					</div>
					<div class="col-sm-4 headerTime">
						<a>現在時刻</a>
						<a id="currentTime"></a>
				</div>
			</header>

			<hr>

			<form method="POST" action="basic_search">
				<table>
					<div class="areaSearch">
						<tr><p>エリアから探す</p></tr>
						<tr>
							<div class="daigakuMap">
								<img src="{{ url_for('static', filename='images/daigakuMap.png') }}" alt="大学周辺地図">
								<input type="checkbox" class="btn area1" name="area" value="1"><!--春日1-3丁目-->
								<!-- <input type="checkbox" class="btn area2" name="area" value="2">春日3丁目 -->
								<input type="checkbox" class="btn area3" name="area" value="3"><!--春日4丁目-->
								<input type="checkbox" class="btn area4" name="area" value="4"><!--吾妻・竹園-->
								<input type="checkbox" class="btn area5" name="area" value="5"><!--天久保1丁目-->
								<input type="checkbox" class="btn area6" name="area" value="6"><!--天久保2丁目-->
								<input type="checkbox" class="btn area7" name="area" value="7"><!--天久保3丁目-->
								<input type="checkbox" class="btn area8" name="area" value="8"><!--桜・天久保4丁目-->
								<input type="checkbox" class="btn area9" name="area" value="9"><!--車が必要なエリア-->
							</div>
						</tr>
					</div>

					<div class="budgetSearch">
						<p>予算から探す</p>
						<div class="budgetSlider">
							<input type="range" name="budget" value="1" min="100" max="3000" step="100" 
							oninput="document.getElementById('output1').value=this.value">
							<output id="output1">100</output>
							<label>円まで</label>
						</div>

						<tr><p><input type="submit" value="検索"></p></tr>
					</div>
					
					<!-- 
					<div class="timeSearch">
						<p>時間で検索する</p>
						<input type="time" name="sample1" style="width:80px">
						<tr><p><input type="submit" value="検索"></p></tr>
					</div> -->
					
					<br />
					
				</table>
			</form>

			<hr>

			<footer>
				<a>&copy; group7</a>
			</footer>
		</div>
	</body>
</html>