<!DOCTYPE html>
<html lang="ja">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="template.scss">
  </head>
  <body>
    <div class="collapse bg-inverse" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 py-4">
              <h4 class="text-white">About</h4>
              <p class="text-muted">みなさんのつくばで生活していく上での食生活が充実しますように！</p>
            </div>
            <div class="col-sm-4 py-4">
              <h4 class="text-white">Contact</h4>
              <ul class="list-unstyled">
                <li><a href="https://www.tsukuba.ac.jp/" class="text-white">筑波大学</a></li>
              </ul>
            </div>
          </div>
        </div>
    </div>
    <div class="navbar navbar-inverse bg-inverse">
        <div class="container d-flex justify-content-between">
          <a href="#" class="navbar-brand">何食べる？</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
    </div>
  
    <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">検索結果</h1>
          <p class="lead text-muted">お店ごとに条件にあったメニューをおすすめします！</p>
          <p>
            <a href="#" class="btn btn-secondary">検索画面に戻る</a>
          </p>
        </div>
    </section>
  
    <div class="album text-muted">
        <div class="container">
            <div class="card mb-3">
                <img class="card-img-top" src="https://tblg.k-img.com/restaurant/images/Rvw/148711/640x640_rect_148711305.jpg" alt="Card image cap">
                <div class="card-block">
                  <h4 class="card-title">お店</h4>
                  <p class="card-text">和食</p>
                  <p class="card-text"><small class="text-muted">春日4丁目</small></p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <img class="card-img-top" src="https://tblg.k-img.com/restaurant/images/Rvw/148711/640x640_rect_148711459.jpg" alt="Card image cap">
                        <div class="card-block">
                            <h4 class="card-title">魚</h4>
                            <p class="card-text">¥2900</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <img class="card-img-top" src="https://tblg.k-img.com/restaurant/images/Rvw/148711/640x640_rect_148711459.jpg" alt="Card image cap">
                        <div class="card-block">
                            <h4 class="card-title">魚</h4>
                            <p class="card-text">¥2900</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <img class="card-img-top" src="https://tblg.k-img.com/restaurant/images/Rvw/148711/640x640_rect_148711459.jpg" alt="Card image cap">
                        <div class="card-block">
                            <h4 class="card-title">魚</h4>
                            <p class="card-text">¥2900</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">何食べる？</h1>
          <p class="lead text-muted">presented by Group 7</p>
        </div>
    </section>

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>
</html>