<!DOCTYPE html>
<html lang="ja"></html>
    <head>
		<meta charset="utf-8">
		<meta name="keywords" content="">
		<meta name="author" content="">
		<title>何食べる？</title>
	</head>
	<body>
		<div>
			<h1>何食べる？</h1>
			<form method="POST" action="basic_search">
				<summary>入力してください</summary>
				<table>
					<tr><p>お店のエリア</p></tr>
					<tr>
						<label><input type="checkbox" name="area" value="1">春日1・2丁目</label>
						<label><input type="checkbox" name="area" value="2">春日3丁目</label>
						<label><input type="checkbox" name="area" value="3">春日4丁目</label>
						<label><input type="checkbox" name="area" value="4">吾妻・竹園(つくばセンター周辺)</label>
						<label><input type="checkbox" name="area" value="5">天久保1丁目</label>
						<label><input type="checkbox" name="area" value="6">天久保2丁目</label>
						<label><input type="checkbox" name="area" value="7">天久保3丁目</label>
						<label><input type="checkbox" name="area" value="8">桜・天久保4丁目</label>
						<label><input type="checkbox" name="area" value="9">車が必須なエリア</label>
					</tr>
					<tr><p>予算はいくら？</p></tr>
					<tr>
						<input type="text" name="budget" placeholder="">
						<label>円まで</label>
					</tr>
					<tr><p><input type="submit" value="submit"></p></tr>
				</table>
			</form>
			<hr>
			<div>
				<a>test version by tanebe</a>
			</div>
		</div>
	</body>
</html>